# Find the IDs with -
#
#   udevadm info -a -n /dev/input/by-id/<DEV> | rg idVendor
#   udevadm info -a -n /dev/input/by-id/<DEV> | rg idProduct
#

ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="7698", ACTION=="add", RUN+="/usr/local/bin/womier-udev-add.sh"
ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="7698", ACTION=="remove", RUN+="/usr/local/bin/womier-udev-remove.sh"