(
    // ktrl will register a TapHold as an hold after 300ms
    tap_hold_wait_time: 200,

    // ktrl will register a TapDance if all taps occur within a 1000ms period (1s)
    tap_dance_wait_time: 1000,

    // Gives names to layers
    layer_aliases: {
        "base": 0,
        "ivy": 1,
        "caps": 2,
        "tilde": 3,
    },

    layer_profiles: {},

    layers: [
        // Layer 0 (Base Layer)
        {
            KEY_CAPSLOCK: Tap(Key(KEY_LEFTCTRL)),

            KEY_GRAVE: Tap(Key(KEY_ESC)),
            KEY_ESC: Tap(Key(KEY_GRAVE)),

            KEY_F1: TapHold(Key(KEY_F1), ToggleLayerAlias("ivy")),
            KEY_F2: TapHold(Key(KEY_F2), ToggleLayerAlias("caps")),
            KEY_F3: TapHold(Key(KEY_F3), ToggleLayerAlias("tilde")),
        },
        // 1: ivy layer
        {
            KEY_SPACE: TapHold(Key(KEY_SPACE), Key(KEY_LEFTCTRL)),
        },
        // 2: caps layer
        {
            KEY_CAPSLOCK: Tap(Key(KEY_CAPSLOCK)),
        },
        // 3: tilde restore
        {
            KEY_GRAVE: Tap(Key(KEY_GRAVE)),
            KEY_ESC: TildeEsc,
        },
    ],
)
